jupyterlab
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
pandas
requests
altair
jupyter-archive
ipywidgets
requests-cache
geopandas
ipyleaflet
geopy
lat-lon-parser
matplotlib
tqdm
overpy
pymupdf
pytesseract
natsort
pillow
python-slugify
fcache
geojson
sqlite_utils
datasette @ git+https://github.com/wragge/datasette@update-debian
beautifulsoup4
datasette-search-all
datasette-template-sql
datasette-template-request
geojson-to-sqlite
datasette-leaflet-geojson
geographiclib
nltk